- if meals[:date].month != month.month
  %header.last_month
- else
  %header.current_month
= meals[:date]
%ul.meal_list
  %li
    = "morgens: #{meals[:breakfast].join(", ")}"
  %li
    = "mittags: #{meals[:lunch].join(", ")}"
  %li
    = "abends: #{meals[:dinner].join(", ")}"
