.meal_date{class: [("lighter" if meals[:date].month != month.month), ("greener" if meals[:date] == Date.today)]}
  = I18n.l meals[:date], :format => :short
.meal_list{class: ("lighter" if meals[:date].month != month.month)}
  .breakfast
    = "b: #{meals[:breakfast].join(", ")}"
  .lunch
    = "l: #{meals[:lunch].join(", ")}"
  .dinner
    = "d: #{meals[:dinner].join(", ")}"
